/* css styles */
```{css, echo = FALSE}
.justify {
  text-align: justify !important
}
```
footer {
  text-align: center;
  padding: 1em 0;
}

footer p {
  margin: 0.5em 0;
}

footer a {
  color: inherit;
  text-decoration: underline;
  margin: 0 0.5em;
}
